.stick_follow_icon {
    width: unset;
    height: unset;
    position: static;
    margin-top: unset;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 40px 0;
    align-items: center;
    font-size:x-large
}

.stick_follow_icon ul li {
    display: inline;
    margin-right: 10px;
}